@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

body {
	font-family: "Open Sans", sans-serif;
}

:root {
	--primary-color: #000d83;
	--secondary-color: #0bb4ff;
	--paragraph-color: #040931;
	--background-color: #e7efff;
	--heading-size: 2.5rem;
	--sub-heading-size: 1.125rem;
}

/* common-style------------ */
.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 20px 100px;
}
.heading{
color: var(--primary-color);
font-size: 2.5rem;
}
.normal-btn, .btn{
background-color: var(--primary-color);
padding:10px 20px ;
border-radius: 8px;
color: white;
border: none;
}

.outline-btn{
background-color: transparent;
border: 1px solid var(--primary-color);
color: var(--primary-color);
padding:10px 20px ;
border-radius: 8px;
}
a{
color: var(--primary-color);
}
.sub-heading{
color: var(--secondary-color);
font-weight: 600;
font-size:1.125rem ;
}

.icon{
width: 50px;
height: 50px;
border-radius: 50%;
background-color:#EDFAFF ;
border: 1px solid white;

}
.box-group .icon img{
padding: 12px;

}
/* .................Nav-----------------Starts------------ */
header{
background-color: var(--background-color);
width: 100%;
position: sticky;
top: 0;
}
nav{
display: flex;
justify-content: space-between;
height: 80px;
}
 nav ul{
 display: flex;
 padding: 5px 20px;
 align-items: center;
 }
 nav ul li{
padding: 5px 20px;
 }
nav ul li a:hover{
color: var(--secondary-color);
}
.sign-in-up{
display: flex;
gap: 20px;
align-items: center;
}
.normal-btn{
background-color: transparent;
color: var(--primary-color);
}

.btn:hover{
color: var(--secondary-color);
background-color: var(--primary-color);
}
.hero-section{
background-color: var(--background-color);
/* padding: 100px  0px; */
}
.hero-section .container{
/* background-color: var(--background-color); */
width: 100%;
padding: 100px  100px;
}

.banner{
display: flex;
align-items: center;
justify-content: space-between;
gap: 20px;

}
.content{
width: 60%;
}
.content >*{
margin-bottom: 20px;
line-height: 1.5rem;
}
.content h1{
width:80%;
line-height: 1.4;
}
.content p{
width: 80%;
}
.banner-img{
width: 40%;}
.banner-img img{
width:100%;
}
.btn-group{
display: flex;
gap: 2rem;}

.btn-group .outline-btn:hover, .btn-group .normal-btn:hover{
background-color: var(--primary-color);
color: var(--secondary-color);
}


.btn-group .normal-btn{
background-color: var(--primary-color);
color: #e7efff;
}

.avater{
display: flex;
align-items: center;
}
.avater .stat{
display: flex;
align-items: center;
justify-content: center;
padding: 5px;
background: #000000;
color: white;
}

.avater .icon{
margin-left: -15px;
}
.avater .count{
width: 200px;
margin-left: 20px;}

/* ..............about us section ............  */
.about-us{
margin-top: 100px;}
.about-us .container{
display: flex;
justify-content: space-between;
align-items: center;
gap: 50px;
}

.about-us .container .about-image{
width: 40%;

}
.about-us .container .about-content{
width: 60%;
}
.about-us .container .about-image img{
width: 100%;
}
.about-us .about-content{
display: flex;
flex-direction: column;
align-items: left;
padding: 10px 0px 5px 50px;

margin-left: auto;

}
.about-us .about-content>*{
margin-left: 100px;
}


.box{
display: flex;
align-items: center;
gap: 20px;
border: 1px solid var(--secondary-color);
border-radius: 8px;
padding: 4px;
background-color: #ffffff;
width: 100%;
max-width: 80%;
margin-top: 20px;
box-shadow:5px 5px 10px 0px rgba(0, 0,0, 0.5);
}
.box p{
font-weight: 600;
}
.box:hover{
transition: all 0.8s ease-in-out;
transform: scaleX(1.1);
}
.arrow{
margin-left: auto;
}

/* ............school section.............. */

.school .container {
margin-top: 100px;
display: flex;
align-items: center;
justify-content: space-between;
gap: 50px;
}
.school .container .school-content{
width: 60%;
}
.school .container .school-img{
width: 40%;
}
.school .container .school-img img{
width: 100%;
}
.school-content p, h3{
width: 80%;
margin-top: 20px;
line-height: 1.5;
}

/* studying */
.studying .container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 100px ;
}
.studying .container h3{
width: 50%;
margin-bottom: 3rem;
}
.cards{
display: flex;
gap: 2%;
justify-content: center;
align-items: center;
}

.card{
display: flex;
/* gap: 10px; */
flex-direction: column;
justify-content: center;
align-items: center;
box-shadow: 5px 5px 10px 1px rgba(0, 0,0, 0.5);
padding: 10px;
border-radius: 10px;
}
.card >*{
margin-top: 10px;
}
.stars{
display: flex;
justify-items: center;
align-items: center;
}
.star{
color: rgb(241, 132, 7);
font-size: x-large;
}

/* newsletter Section ------------- */

.btn{
background-color: var(--secondary-color);
}
.newsletter .container{
margin-top: 100px;
background-image: url(../images/news-letter.png);
background-repeat: no-repeat;
/* background-position: cover; */
background-size: cover;
background-position: center;
height: 400px;
position: relative;
    border-radius: 15px;
}
.newsletter .container .overlay{
background-color: #000d83d7;

position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
height: 400px;
display: flex;
align-items: center;
justify-content: center;
    border-radius: 15px;
 
}

.newsletter .container .overlay .content {
text-align: center;
color: white;
border-radius: 12px;
}

.newsletter .container .overlay .content p{
width: 100%;
margin-bottom: 40px;
margin-top: 40px;
}

/* ....footer.........  */

footer{
background-color: var(--background-color);
margin-top: 100px;
}
.footer-group{
display: flex;
align-items: center;
justify-content: space-between;
padding: 2.5rem .5rem;
}
.footer-logo {
width: 20%;
}
.footer-logo>*{
margin-bottom: 40px;
}
.footer-logo .social-icon{
display: flex;
align-items: center;
gap: 20px;
}

.social-icon .icon{
padding: 13px;
background-color:var(--primary-color);
}

.social-icon .icon:hover{
transform: translateY(.2rem);
}